<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SenSwitch - Soluções Inteligentes em Gerenciamento de Sensores</title>

</head>
<body>

  <section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">SenSwitch - Soluções Inteligentes em Gerenciamento de Sensores</h1>
        <h2 class="subtitle">Sua parceira na otimização do gerenciamento de sensores para impulsionar a eficiência operacional.</h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="box">
        <h2 class="title is-4">Visão Geral</h2>
        <p>A SenSwitch visa revolucionar a forma como as empresas lidam com o monitoramento de temperatura e umidade...</p>
      </div>

      <div class="box">
        <h2 class="title is-4">Objetivo do Projeto</h2>
        <p>O objetivo central deste projeto é oferecer às empresas uma plataforma inovadora para o gerenciamento de sensores...</p>
      </div>

      <div class="box">
        <h2 class="title is-4">Nosso Compromisso</h2>
        <p>Na SenSwitch, acreditamos que o monitoramento inteligente é a chave para o sucesso operacional...</p>
      </div>

      <div class="box">
        <h2 class="title is-4">Por Que SenSwitch?</h2>
        <p>Somos mais do que uma solução de gerenciamento de sensores; somos seu parceiro confiável na busca pela excelência operacional...</p>
      </div>
    </div>
  </section>

</body>
</html>
