<!-- app/views/pages/home.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Sua Página</title>
  <!-- Adicione os scripts e estilos necessários aqui -->
</head>
<body>
  <div id="data-container" class="text-sm-start">
    <%= raw @consulta_estacoes.to_json %>
    <%= raw @consulta_microparticulas.to_json %>
  </div>
</body>
</html>
