<!-- app/views/pages/_monitor.html.erb -->
<div class="container is-widescreen">
  <div class="notification is-info" id="updateTimeInfo"></div>
  <div class="columns is-multiline" id="sensorColumns">
    <!-- Colunas dinâmicas serão adicionadas aqui -->
  </div>
</div>



<div class="message" id="infoPanel">
    
  <!-- Conteúdo da área de informações do sensor -->
  
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%= javascript_include_tag 'monitor' %>
